.input {
    position: 100px 50px;  
    /* top: 150%;
    right: 10%;
    width: 15%;  */
    height:auto;  
 
  }
  
  datalist option {
    font-size: 0.8em;
    padding: 0.3em 1em;
    background-color: #ccc;
    cursor: pointer;
  }
  
  /* option active styles */
  datalist option:hover, datalist option:focus {
    color: rgb(206, 61, 61);
    background-color: #036;
    outline: 0 none;
  }


