

body{
    background-image: url(https://d3m9l0v76dty0.cloudfront.net/system/photos/3407611/large/7f7aea22c3c884c0ff3e2340ea88bbd9.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;     
    
    
}  

button{
    background-color: rgb(235, 225, 225);
        border: .5px solid crimson;
        border-radius: 10px;
        color: rgb(12, 9, 9);
        padding: 8px;    
}


/* .home {
  position:absolute;
  width: 100%;
  max-width: 400px;
}

.home img {
  width: 100%;
  height: auto;
}

.home .button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.home .button:hover {
  background-color: black;
  color: white;
} */







